html {
	font-size: 14px;
}

body {
	font-family: "Work Sans", sans-serif;
    background-color: rgba(255, 242, 242);
}

.container {
     margin-top: 5.25rem;
}


h1 {
	font-size: 2.5rem;
    font-weight: bold;
    color: rgba(32, 64, 86);
}

h4 {
	font-size: 1rem;
	font-weight: bold;
	color: rgba(32, 64, 86);
}

p {
	color: rgba(74, 74, 74);
}


#game .card {
	height: 12.5rem;
	cursor: pointer;
	border-radius: 8px;
    border: 4px solid #ffffff;
    background-color: rgba(32, 64, 86);
}

number {
	font-size: 7rem;
	font-weight: 900;
	padding-top: 1rem;
	text-align: center;
	color: rgba(255, 255, 255);
}